* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #23252C;
    height: 100vh;
}

.about, .interests, .info {
    background-color: #1A1B21;
    color: white;
    width: 317px;
    
}

.info{
    text-align: center;
}

.info img{
    width: 317px;
    height: 337px;
    border-radius: 10px 10px 0 0;
}

p{
    font-size: 0.9em;
    font-weight:100
}

h2{
    padding: 10px 0 5px 0;
}

h3{
    padding-bottom: 2px;
}

.info div h2 + p{
    color: #F3BF99;
    margin-bottom: 6px;
}

.info div p a{
    text-decoration: none;
    color: #F5F5F5;
}

.buttons{
    margin: 15px 0 20px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

button{
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 7px;
}

.email-button{
    background-color:#D1D5DB;
}

.linked-in-button{
    background-color:#5093E2;
    color: white;
}

.about, .interests{
    padding: 10px 20px 10px 20px;
}

footer{
    width: 317px;
    background-color: #161619;
    display: flex;
    justify-content: space-around;
    padding: 15px 40px 15px 40px;
    border-radius: 0 0 10px 10px;
    
}

footer i{
    color: #918E9B;
    
    font-size: 2em;
}
